In [59]:
import duckdb
import leafmap
import pandas as pd
con = duckdb.connect()
con.install_extension("httpfs")
con.load_extension("httpfs")
con.install_extension("spatial")
con.load_extension("spatial")

In [60]:
sql = ("""
    CREATE TABLE lewo AS
    SELECT *,
        ST_Point(LONGITUDE, LATITUDE) as geometry
    FROM "./test/lewo_clip.csv" 
""")
con.execute(sql)

In [61]:
con.table("lewo")

┌──────────┬──────────────────┬──────────────────────┬───┬───────────────┬──────────┬──────────────────────┐
│ OBJECTID │      STATE       │        COUNTY        │ … │ LOCALITY_TYPE │ geometry │      geometry:1      │
│  int64   │     varchar      │       varchar        │   │    varchar    │ varchar  │       geometry       │
├──────────┼──────────────────┼──────────────────────┼───┼───────────────┼──────────┼──────────────────────┤
│        1 │ Oregon           │ Jackson              │ … │ P             │ NULL     │ POINT (-122.807327…  │
│        2 │ Washington       │ Klickitat            │ … │ P             │ NULL     │ POINT (-120.503788…  │
│        3 │ California       │ Yolo                 │ … │ P             │ NULL     │ POINT (-122.043857…  │
│        4 │ California       │ Tehama               │ … │ H             │ NULL     │ POINT (-122.367568…  │
│        5 │ Colorado         │ Costilla             │ … │ P             │ NULL     │ POINT (-105.536073…  │
│        6 │ California       │ Siskiyou             │ … │ H             │ NULL     │ POINT (-122.836933…  │
│        7 │ California       │ Siskiyou             │ … │ H             │ NULL     │ POINT (-122.836933…  │
│        8 │ Oregon           │ Linn                 │ … │ P             │ NULL     │ POINT (-123.170066…  │
│        9 │ British Columbia │ Central Okanagan     │ … │ P             │ NULL     │ POINT (-119.492717…  │
│       10 │ Oregon           │ Jackson              │ … │ P             │ NULL     │ POINT (-122.908980…  │
│        · │   ·              │    ·                 │ · │ ·             │  ·       │          ·           │
│        · │   ·              │    ·                 │ · │ ·             │  ·       │          ·           │
│        · │   ·              │    ·                 │ · │ ·             │  ·       │          ·           │
│     9991 │ Montana          │ Ravalli              │ … │ H             │ NULL     │ POINT (-114.254379…  │
│     9992 │ Idaho            │ Jefferson            │ … │ H             │ NULL     │ POINT (-112.255773…  │
│     9993 │ California       │ Tuolumne             │ … │ H             │ NULL     │ POINT (-120.489893…  │
│     9994 │ British Columbia │ Okanagan-Similkameen │ … │ H             │ NULL     │ POINT (-119.906111…  │
│     9995 │ New Mexico       │ Rio Arriba           │ … │ P             │ NULL     │ POINT (-106.0417 3…  │
│     9996 │ California       │ Mariposa             │ … │ P             │ NULL     │ POINT (-119.827709…  │
│     9997 │ California       │ Tuolumne             │ … │ H             │ NULL     │ POINT (-120.539674…  │
│     9998 │ Oregon           │ Deschutes            │ … │ P             │ NULL     │ POINT (-121.520525…  │
│     9999 │ Arizona          │ Coconino             │ … │ H             │ NULL     │ POINT (-111.665 35…  │
│    10000 │ Colorado         │ Delta                │ … │ H             │ NULL     │ POINT (-108.082122…  │
├──────────┴──────────────────┴──────────────────────┴───┴───────────────┴──────────┴──────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                       12 columns (6 shown) │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [62]:
con.sql('''
    SELECT STATE, COUNT(OBJECTID) as Count
    FROM lewo
    GROUP BY STATE
    ORDER BY Count DESC
    LIMIT 10
''')

┌──────────────────┬───────┐
│      STATE       │ Count │
│     varchar      │ int64 │
├──────────────────┼───────┤
│ California       │ 42674 │
│ Colorado         │ 18383 │
│ Oregon           │ 17694 │
│ Washington       │ 12389 │
│ Arizona          │ 11299 │
│ British Columbia │  8675 │
│ Montana          │  7682 │
│ New Mexico       │  7092 │
│ Idaho            │  6058 │
│ Utah             │  3018 │
├──────────────────┴───────┤
│ 10 rows        2 columns │
└──────────────────────────┘

In [63]:
# Select only the Washington state points from the table and call the new table wash
con.sql('''
    CREATE TABLE wash AS
    SELECT *
    FROM lewo
    WHERE STATE = 'Washington'
''')

In [64]:
# Export the wash table to a csv file
# Fetch the data from the wash table into a DataFrame
wash_df = con.execute("SELECT * FROM wash").fetchdf()

# Export the DataFrame to a CSV file in the test folder
wash_df.to_csv('test/wash.csv', index=False)

In [65]:
print(wash_df)

       OBJECTID       STATE     COUNTY   LATITUDE   LONGITUDE COUNT   DATE  \
0             2  Washington  Klickitat  45.893689 -120.503788     2  35609
1            12  Washington     Benton  46.502646 -119.712353     1  35196
2            23  Washington     Yakima  46.850000 -120.800000     X  32277
3            69  Washington  Klickitat  45.744910 -120.436986     2  35511
4           108  Washington      Ferry  47.942785 -118.690700     2  34148
...         ...         ...        ...        ...         ...   ...    ...
12384    140020  Washington   Okanogan  48.845603 -119.662783     1  45094
12385    140046  Washington   Skamania  45.818325 -121.758092     2  45059
12386    140053  Washington     Yakima  46.904527 -120.724860     3  45056
12387    140060  Washington   Kittitas  46.918207 -120.732669     1  45073
12388    140073  Washington     Yakima  46.343056 -120.839444     3  45066

                                              LOCALITY LOCALITY_ID  \
0                                    Bickleton Highway   L10072701
1                             Rattlesnake Canyon (ALE)    L1075988
2                                           Wenas Area     L109549
3                           Rock Creek (Klickitat Co.)    L1330898
4       Keller Ferry Atlas Square (T28N, R33E, NW 1/4)   L16681462
...                                                ...         ...
12384                                 Toats Coulee Rd,   L25274267
12385  Grassy Knoll, Bingen US-WA 45.81833, -121.75809   L24431246
12386                                 North Wenas Road    L3743791
12387                   Umtanum Ridge--Observatory Rd.    L1626174
12388                                      Fort Simcoe     L340515

      LOCALITY_TYPE geometry  \
0                 P     None
1                 P     None
2                 H     None
3                 H     None
4                 P     None
...             ...      ...
12384             P     None
12385             P     None
12386             H     None
12387             H     None
12388             H     None

                                              geometry:1
0      [0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,...
1      [0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,...
2      [0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,...
3      [0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,...
4      [0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,...
...                                                  ...
12384  [0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,...
12385  [0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,...
12386  [0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,...
12387  [0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,...
12388  [0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,...

[12389 rows x 12 columns]